@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,400,800,300);

body, html {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
    background-color: #1a1a1a;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(254,186,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0,0,0,0.9);
    -webkit-box-shadow: inset 0 0 6px rgba(65,105,225,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(214,214,214,0.8); 
}

h1 {
    text-transform: uppercase;
}

    h1 strong {
        font-weight: 900;
    }

h2 {
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 900;
}

h4 {
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align:justify;
}

    p.intro {
        font-size: 16px;
        margin: 12px 0 0;
        line-height: 24px;
        font-family: 'Open Sans', sans-serif;
    }

    p.center {
        text-align:center;
    }

a {
    color: #0077CC;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: #0077CC;
    }


/* Navigation */
.navbar {
    min-height: 50px;
    padding: 20px;
}

.navbar-brand img {
    margin-top: -30px;
    transition: all 0.5s ease-in; 
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in; 
}

.navbar-fixed-top {
     z-index: 900;
}

#section-nav {
    padding: 20px;
    transition: all 0.8s;
}

    #section-nav.navbar-default {
        /*background-color: #fff;
        border-color: #00ACA2;
        border-bottom-width: 3px;*/

        /*background: rgb(246,0,0); /*red*/
        /*background: rgb(65,105,225); /*blue*/
        background: rgb(239,239,0); /*yellow
        /*background: rgb(255,165,0); /*orange*/
        border-color: transparent;
        border-bottom-width: 0px;
    }

    #section-nav a.navbar-brand {
        text-transform: uppercase;
        font-size: 22px;
        color: rgba(0,0,0,0.8);
        font-weight: 900;
        font-style: bold;
    }

    #section-nav.navbar-default .navbar-nav > li > a {
        text-transform: uppercase;
        /*color: #fff;*/
        color: #000; 
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
    }

        ul.shift li a:after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 1px;
          content: '.';
          color: transparent;
          background: #fff;
          visibility: none;
          opacity: 0;
          z-index: -1;
          transition: all 0.5s;
        }

        ul.shift li a:hover:after {
          opacity: 0.8;
          visibility: visible;
          height: 100%;
          transition: all 0.5s;
        }

.on {
    /*background-color: #f60000 !important; /*red*/
    /*background-color: #4169e1 !important; /*blue*/
    background-color: #efef00 !important; /*yellow
    /*background-color: #ffa500 !important; /*orange*/
    border-color: none !important;
    padding: 0px !important;
    box-shadow: none;
    opacity: 1;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    o-transition: all 0.5s ease-in; 
}
    
    .on .navbar-brand img {
        height: 70px;
        width: 124px;
        margin-top: -20px;
        transition: all 0.5s ease; 
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #27aea0 !important;
    background-color: transparent;
    font-weight: 700;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0077CC;
    border-color: #0077CC;
}

    .navbar-default .navbar-toggle:hover > .icon-bar {
        background-color: #FFF;
    }

/* Section blue container */
#section-blue {
  background-color: #feba00;
  padding-top: 750px;
  background: url(../img/Destruction1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Footer */
nav#footer {
    /*background: rgb(246,0,0); /*red*/
    /*background: rgba(65,105,225,0.9); /*blue*/
    background: rgb(239,239,0); /*yellow
    /*background: rgb(255,165,0); /*orange*/
    color: #000;
    padding: 0px 0 0 0;
}

    nav#footer .fnav {
        vertical-align: middle;
    }

ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

nav#footer p {
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
}

#footer i.fa {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    font-size: 15px;
    padding: 4px 4px;
    border-radius: 50%;
    color: #000;
    transition: all 0.5s;
    margin-top:10px;
}

    #footer i.fa:hover {
        background: #fff;
        border-color: #fff;
        color: #000;
    }

#map {
width: 100%;
height: 500px;
/*border: 2px solid #f60000; /*red*/
/*border: 2px solid #4169e1; /*blue*/
border: 2px solid #efef00 ; /*yellow*/
/*border: 2px solid #ffa500; /*orange*/
background-color: #1a1a1a;
margin-top: -620px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204, .6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204, .6);  
}